My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        32
      ],
      "id": "dbcfa3b5-5fc2-4712-bd8c-e497c80550fb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oxmcIsAPmsCrsOtJsmR3lIcGNybxy9vnfR7XTliADwQ",
          "mode": "list",
          "cachedResultName": "DataSourcesForN8N_ETL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxmcIsAPmsCrsOtJsmR3lIcGNybxy9vnfR7XTliADwQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 383393268,
          "mode": "list",
          "cachedResultName": "GoogleSheet1_Lite",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxmcIsAPmsCrsOtJsmR3lIcGNybxy9vnfR7XTliADwQ/edit#gid=383393268"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:G51"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -48
      ],
      "id": "6a6f30c9-f6d4-4abf-a463-060c302429f8",
      "name": "Extract Sales Data",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zmr5kCQmvepCQWlu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oxmcIsAPmsCrsOtJsmR3lIcGNybxy9vnfR7XTliADwQ",
          "mode": "list",
          "cachedResultName": "DataSourcesForN8N_ETL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxmcIsAPmsCrsOtJsmR3lIcGNybxy9vnfR7XTliADwQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 759399710,
          "mode": "list",
          "cachedResultName": "GoogleSheet2_Lite",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oxmcIsAPmsCrsOtJsmR3lIcGNybxy9vnfR7XTliADwQ/edit#gid=759399710"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:C51"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        48
      ],
      "id": "edfa037e-8e57-4609-b5d4-6096ef3c6a65",
      "name": "Extract Product Cost",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zmr5kCQmvepCQWlu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.exchangeratesapi.io/v1/latest?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_key",
              "value": "=6e2da1ae6a7ab18cd7b4fcd56952f547"
            },
            {
              "name": "symbols",
              "value": "=USD,JPY,GBP,THB"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        176
      ],
      "id": "5930a8ad-963e-46aa-8d78-897666eee1fb",
      "name": "HTTP Request",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst ratesNode = $(\"HTTP Request\").first(); // ตรวจสอบชื่อ Node API ของคุณ\nconst ratesData = ratesNode.json.rates || ratesNode.json;\n\nconst rates = {\n  THB: parseFloat(ratesData.THB) || 37.0,\n  USD: parseFloat(ratesData.USD) || 1.1,\n  JPY: parseFloat(ratesData.JPY) || 160.0,\n  GBP: parseFloat(ratesData.GBP) || 0.85,\n  EUR: 1,\n};\n\nconst outputItems = [];\n\nfor (let i = 0; i < allItems.length; i++) {\n  const data = { ...allItems[i].json };\n\n  // แปลง String ให้เป็น Number ให้หมดก่อนคำนวณ\n  const salePrice = parseFloat(data.Sale_Price) || 0;\n  const baseCost = parseFloat(data.Base_Cost) || 0;\n  const quantity = parseFloat(data.Quantity) || 0;\n  \n  const rateLocal = rates[data.Currency] || 1;\n  const rateCost = rates[data.Base_Currency || 'USD'] || 1;\n  const rateTHB = rates.THB;\n\n  // --- คำนวณหาค่าต่อหน่วยก่อน ---\n  // สูตร: (ราคาขาย / เรทเงินนั้น) * เรท THB\n  const unitSaleTHB = (salePrice / rateLocal) * rateTHB;\n  const unitCostTHB = (baseCost / rateCost) * rateTHB;\n\n  // --- คำนวณยอดรวม ---\n  data.Sale_THB = Math.round((unitSaleTHB * quantity) * 100) / 100;\n  data.Cost_THB = Math.round((unitCostTHB * quantity) * 100) / 100;\n  data.Profit_THB = Math.round((data.Sale_THB - data.Cost_THB) * 100) / 100;\n\n  // เพิ่ม Field ไว้เช็คค่าเฉยๆ (ลบออกได้ตอนใช้งานจริง)\n  data.Debug_Unit_Sale = Math.round(unitSaleTHB * 100) / 100;\n\n  outputItems.push({ json: data });\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        176
      ],
      "id": "8461d666-dfe0-452d-9862-c9f08c401eac",
      "name": "Code in JavaScript",
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Product_Name",
        "joinMode": "enrichInput1",
        "options": {
          "multipleMatches": "first"
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        -32
      ],
      "id": "926d3346-ec81-4a50-94d1-af57cc8cf54a",
      "name": "Merge",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "final_sales_report",
          "mode": "list",
          "cachedResultName": "final_sales_report"
        },
        "dataMode": "defineBelow",
        "columnToMatchOn": "Order_ID",
        "valueToMatchOn": "={{ $json.Order_ID }}",
        "valuesToSend": {
          "values": [
            {
              "column": "Order_Date",
              "value": "={{ $json.Order_Date }}"
            },
            {
              "column": "Product_Name",
              "value": "={{ $json.Product_Name }}"
            },
            {
              "column": "Product_Name",
              "value": "={{ $json.Product_Name }}"
            },
            {
              "column": "Quantity",
              "value": "={{ $json.Quantity }}"
            },
            {
              "column": "Sale_Price",
              "value": "={{ $json.Sale_Price }}"
            },
            {
              "column": "Currency",
              "value": "={{ $json.Currency }}"
            },
            {
              "column": "Base_Cost",
              "value": "={{ $json.Base_Cost }}"
            },
            {
              "column": "Base_Currency",
              "value": "={{ $json.Base_Currency }}"
            },
            {
              "column": "Sale_THB",
              "value": "={{ $json.Sale_THB }}"
            },
            {
              "column": "Cost_THB",
              "value": "={{ $json.Cost_THB }}"
            },
            {
              "column": "Profit_THB",
              "value": "={{ $json.Profit_THB }}"
            },
            {
              "column": "Debug_Unit_Sale",
              "value": "={{ $json.Debug_Unit_Sale }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1376,
        176
      ],
      "id": "e2737d26-72b3-4ad9-a1b6-2037758ffd0d",
      "name": "Insert or update rows in a table",
      "credentials": {
        "mySql": {
          "id": "HU89NQ2GRqbfKy84",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06884987-afe9-4531-a1fd-f2259df00d04",
              "leftValue": "={{ $json.Order_ID }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1184,
        176
      ],
      "id": "afb740e5-c23d-4a4a-bee8-e16a02ce6238",
      "name": "Filter",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sales Data": {
      "main": [
        [
          {
            "node": "Extract Product Cost",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Sales Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Product Cost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66158c58-15ef-46e6-b726-a560be2a93fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4238128783d44edecee2ce9915f9cbdb6f4b2559192a93b4cf2fa8d1818917e1"
  },
  "id": "vbyIyhSnPfLZ784W",
  "tags": []
}